<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<link rel="stylesheet" href="/css/styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Users</title>
</head>
<body>
    <h1>Edit user info</h1>
    <form th:object="${appuser}" th:action="@{/saveu}" method="post">
        <input type="hidden" th:field="*{u_id}" />

        <ul>
            <li>
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" required />
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </li>
            
            <li>
                <!-- Preserve existing password -->
                <input type="hidden" th:field="*{passwordHash}" />
                <label for="password">New Password (Leave blank to keep current password)</label>
                <input type="password" id="password" name="newPassword" placeholder="Enter new password (optional)" />
            </li>
            
            <li>
                <label for="phone">Phone</label>
                <input type="text" th:field="*{phone}" required />
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            </li>
            
            <li>
                <label for="email">Email</label>
                <input type="email" th:field="*{email}" required />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </li>
            
            <li>
                <label for="country">Country</label>
                <input type="text" th:field="*{country}" required />
                <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
            </li>
            
            <li>
                <label for="chatColor">Chat color</label>
                <input type="text" th:field="*{chatColor}" required />
                <div th:if="${#fields.hasErrors('chatColor')}" th:errors="*{chatColor}"></div>
            </li>
            
            <li>
                <label for="profilePicture">Profile picture</label>
                <input type="text" th:field="*{profilePicture}" required />
                <div th:if="${#fields.hasErrors('profilePicture')}" th:errors="*{profilePicture}"></div>
            </li>
        </ul>

        <button type="submit">Save</button>
    </form>
    
    <a href="/users">Cancel</a>
    <a class="btn btn-primary btn-custom" href="/frontpage">Back to front-page</a>
</body>
</html>
