<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App users</title>

    <script>
        function confirmDelete(event) {
            event.preventDefault();
            const confirmation = confirm("Haluatko varmasti poistaa tämän tuotteen?");
            if (confirmation) {
                window.location.href = event.target.href;
            }
        };
    </script>
</head>

<body>
    <div style="padding: 5%;">
        <div style="display: flex; justify-content: flex-end;">
            <a class="btn btn-primary btn-custom" href="/frontpage">Back to Front-Page</a>
        </div>
        <div>
            <h1>App users</h1>
        </div>
        <div style="padding-top: 2%;">
            <table class="table pink-table table-hover" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Functions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="appuser : ${appusers}">
                        <td th:text="${appuser.u_id}"></td>
                        <td th:text="${appuser.username}"></td>
                        <td th:text="${appuser.phone}"></td>
                        <td th:text="${appuser.email}"></td>
                        <td th:text="${appuser.country}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{/editusers/{id}(id=${appuser.u_id})}">Edit</a>
                            <a class="btn btn-danger" href="#" th:href="@{/deleteu/{id}(id=${appuser.u_id})}" onclick="confirmDelete(event)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
