<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User management</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container" style="padding: 5%;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>User library</h1>
            <a href="/frontpage" class="btn btn-primary">Back to Front-Page</a>
            <a class="btn btn-primary btn-custom" href="/editusers">Edit users</a>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Country</th>
                    </tr>
                <tbody>
                    <tr th:each="appuser : ${appuser}">
                        <td th:text="${appuser.username}"></td>
                        <td th:text="${appuser.phone}"></td>
                        <td th:text="${appuser.email}"></td>
                        <td th:text="${appuser.country}"></td>
                    </tr>
                </tbody>  
            </thead>              
            </table>
        </div>
    </div>
</body>
</html>